{% extends 'lsp/base.html' %}
{% block title %}
管理色色
{% endblock %}

{% block content %}
{% for file in files %}
<div>
	<div class="uk-card uk-card-hover uk-card-primary">
		<div class="uk-card-header">
			<h3 class="uk-card-title">{{file}}</h3>
		</div>
		<div class="uk-card-footer">
			<form method="post">
				<fieldset class="uk-fieldset">
					<legend class="uk-legend">输入新名字修改文件名称或者直接删除</legend>
					<div class="uk-margin">
						<label class="uk-form-label" for="form-horizontal-text">老名字，请不要编辑</label>
						<div class="uk-form-controls">
							<input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text"
								placeholder="老名字" value="{{file}}" name="old_name">
						</div>
					</div>
					<div class="uk-margin">
						<label class="uk-form-label" for="form-horizontal-text">新名字</label>
						<div class="uk-form-controls">
							<input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text"
								placeholder="新名字" value="{{file}}" name="new_name">
						</div>
					</div>
					<div class="uk-margin">
						<button class="uk-button uk-button-default" type="submit" uk-icon="icon: pencil">修改文件名</button>
					</div>
					<div class="uk-margin">
						<a class="uk-button uk-button-danger" uk-icon="icon: trash"
							href="{{ url_for('lsp.lsp_delete' , name=file) }}">删除</a>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<hr class="uk-divider-icon">
{% endfor %}
{% endblock %}