{% extends 'base.html' %}
{% block title %}
浮世草
{% endblock %}
{% block content %}
<section class="hero is-danger">
	<div class="hero-body">
		<p class="title">
			颜曾一
		</p>
		<p class="subtitle">
			英文名Simon Yen
		</p>
	</div>
</section>
<section class="hero is-success">
	<div class="hero-body">
		<p class="title">
			身份
		</p>
		<p class="subtitle">
			双非菜鸡研究生
		</p>
	</div>
</section>
<section class="hero is-warning">
	<div class="hero-body">
		<p class="title">
			技术栈
		</p>
		<p class="subtitle">
			熟悉golang，python，稍微了解rust。
		</p>
	</div>
</section>
<section class="hero is-info">
	<div class="hero-body">
		<p class="title">
			联系方式
		</p>
		<p class="subtitle">
			邮箱：simonyen@foxmail.com QQ：2154571392
		</p>
	</div>
</section>
{% endblock %}