{% extends 'base.html' %}
{% block title %}
新建帖子
{% endblock %}
{% block content %}
<div class="box">
	<form method="post">
		<div class="field">
			<label class="label">标题</label>
			<div class="control">
				<input class="input" type="text" placeholder="帖子标题" name="title">
				{{ mdeditor.load() }}
				<button class="button is-success">
					<span class="icon is-small">
						<i class="fas fa-check"></i>
					</span>
					<span>保存</span>
				</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}