{% extends 'base.html' %}
{% block title %}
迷你博客-主页
{% endblock %}

{% block content %}
{% for post in posts %}
<div class="card">
	<header class="card-header">
		<p class="card-header-title">
			{{post.title}}
		</p>
		<button class="card-header-icon" aria-label="more options">
			<span class="icon">
				<i class="fas fa-angle-down" aria-hidden="true"></i>
			</span>
		</button>
	</header>
	<div class="card-content">
		<div class="content">
			<h1 class="title">
				<span class="tag is-info">作者：{{post.user.username}}</span>
			</h1>
			<h2 class="subtitle">
				<span class="tag is-success">创作时间：{{post.date_created}}</span>
			</h2>
		</div>
	</div>
</div>
<div class="box">
	<div class="buttons are-medium">
		<a class="button is-primary is-light" href="{{ url_for('views.view_post' , id =  post.id) }}">查看</a>
		{% if user.id == post.author %}
		<a class="button is-link is-light" href="{{ url_for('views.motify_post' , id = post.id) }}">修改</a>
		<a class="button is-danger is-light" href="{{ url_for('views.delete_post' , id = post.id) }}">删除</a>
		{% endif %}
	</div>
</div>
<div class="block"></div>
{% endfor %}
{% endblock %}