{% extends 'base.html' %}
{% block title %}
迷你博客-登录
{% endblock %}
{% block content %}
<div class="box">
	<form method="post">
		<div class="field">
			<label class="label">
				<span class="icon-envelope"></span>电子邮箱
			</label>
			<p class="control">
				<input class="input" type="email" placeholder="邮箱地址" name="email">
			</p>
		</div>
		<div class="field">
			<label class="label">
				<span class="icon-lock"></span>密码
			</label>
			<p class="control">
				<input class="input" type="password" placeholder="密码" name="password">
			</p>
		</div>
		<label class="checkbox">
			<input type="checkbox" name="remember">
			<strong>记住我</strong>
		</label>
		<div class="field is-grouped is-grouped-right">
			<button class="button is-primary">
				<span class="icon-paper-plane"></span>登录
			</button>
		</div>
	</form>
</div>
{% endblock %}