{% extends 'base.html' %}
{% block title %}
轻博客-注册
{% endblock %}
{% block content %}
<div class="box">
	<form method="post">
		<div class="field">
			<label class="label">
				<span class="icon-envelope"></span>电子邮箱
			</label>
			<p class="control">
				<input class="input" type="email" placeholder="邮箱地址" name="email">
			</p>
		</div>
		<div class="field">
			<label class="label">
				<span class="icon-mustache"></span>用户名
			</label>
			<p class="control">
				<input class="input" type="text" placeholder="用户名" name="username">
			</p>
		</div>
		<div class="field">
			<label class="label">
				<span class="icon-lock"></span>密码
			</label>
			<p class="control">
				<input class="input" type="password" placeholder="密码" name="password">
			</p>
		</div>
		<div class="field">
			<label class="label">
				<span class="icon-reload"></span>确认密码
			</label>
			<p class="control">
				<input class="input" type="password" placeholder="再次输入密码" name="password-confirm">
			</p>
		</div>
		<div class="control">
			<button class="button is-primary">
				<span class="icon-plane"></span>注册
			</button>
		</div>
	</form>
</div>
{% endblock %}